#destination-form-container{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Secular One", sans-serif;
}
#sendformbutton{
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(252, 216, 163);
    padding: 2vw;
    transition: 0.6s;
}
#sendformbutton:hover{
    background-color: rgb(245, 176, 72);
}

.GoToSleepBtn{
    margin-top: 20px;
    margin-bottom: 20px;
}